<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="./socket.io/socket.io.js"></script>

</head>
<body>
    <div id="productos">
        <div class='container_products2'>
            
            <% for (const product of products) { %>
                <div class="card">
                    <div class="card-img">
                        <img src=<%=product.thumbnail%> class="imagen" alt="not found">
                    </div>
                    <div class="card-info">
                        <p class="text-title">
                            <%=product.title%>
                        </p>
                    </div>
                    <div class="card-footer">
                        <span class="text-title">$<%=product.price%></span>
                        <div class="card-button">
                        
                        </div>
                    </div>
                </div>
                <% }; %>
        </div>
    </div>
    </div>
    <div class="buttons">
        <button>
            <a href="http://localhost:8080/api"> INICIO </a>
        </button>
        <button>
            <a href="http://localhost:8080/api/messages"> MENSAJES </a>
        </button>
    </div>

</body>

</html>